{% extends 'base.html' %}

{% block content %}
<h1>You're on a user page</h1>
<h1>{{ profile.user.username }}</h1>
{% if boolean %}
  <p>
    ur frands already
  </p>
{% else %}
  <form action="{% url 'request_friend' pk=profile.user.pk %}">
    <input type="submit" value="Request Friend" />
  </form>
{% endif %}
<ul>
  <li>
    {{ profile.user.first_name }} {{ profile.user.last_name }}
  </li>
  <li>
    {{ role }} @ {{ profile.company }}
  </li>
  <li>
    {{ profile.user.email }}
  </li>
  <li>
    {{ profile.bio }}
  </li>
  <li>
    {{ profile.social_handle }}
  </li>
  <li>
    {% for item in profile.focuses.all %}
    <li>
      {{ item.name }}
    </li>
    {% endfor %}
  </li>
</ul>
{% endblock content %}
