asgi-redis==1.0.0
asgiref==1.0.0
autobahn==0.12.1
awsebcli==3.9.0
backports.ssl-match-hostname==3.5.0.1
blessed==1.9.5
boto==2.45.0
botocore==1.5.4
cement==2.8.2
channels==1.0.0
click==6.6
colorama==0.3.7
constantly==15.1.0
daphne==1.0.1
dj-database-url==0.4.0
Django==1.11.29
django-appconf==1.0.1
django-bootstrap-form==3.2
django-filter==1.0.1
django-postman==3.3.1
django-storages==1.5.2
django-tastypie==0.13.3
django-user-accounts==1.3.1
djangorestframework==3.11.2
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
futures==3.0.5
haikunator==1.0.1
incremental==16.10.1
jmespath==0.9.0
Markdown==2.6.7
msgpack-python==0.4.7
olefile==0.44
pathspec==0.5.0
pbr==1.10.0
Pillow==8.1.1
pinax-theme-bootstrap==7.2.0
psycopg2==2.6.1
python-dateutil==2.6.0
python-dotenv==0.6.1
python-mimeparse==1.6.0
pytz==2015.7
PyYAML==5.4
redis==2.10.5
requests>=2.20.0
s3transfer==0.1.10
semantic-version==2.5.0
six==1.10.0
stevedore==1.19.1
tabulate==0.7.5
Twisted==19.7.0
txaio==2.2.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wcwidth==0.1.7
websocket-client==0.40.0
zope.interface==4.1.3
