{% extends "base.html" %}

{% block content %}
  {% load static %}
  <div>
    <ul>
      {% for conversation in conversations %}
        <li>
          <a href="{% url 'chat' label=conversation.label %}">{{ conversation }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <h1>{{ convo.label }}</h1>
  <form id="chatform">
    <table id="chat">
      <tbody>
        {% for message in messages %}
          <tr>
            <td>{{ message.formatted_timestamp }}</td>
            <td>{{ message.sender }}</td>
            <td>{{ message.body }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td> </td>
        <td> </td>
        <td colspan=2>
          <input id="message" type="text" placeholder="message">
          <input id="handle" type="hidden" value="{{ request.user.username }}">
          <button type="submit" id="go">Send</button>
        </td>
      </tfoot>
    </table>
  </form>
{% endblock content %}

{% block afterbody %}
  <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "chat.js" %}'></script>
{% endblock afterbody %}
