/* -- GENERAL - BASE.HTML -- */
body {
  font-family: helvetica;
}

.content-container {
  padding: 2rem 0 0 2rem;
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#other-nav a:hover {
  opacity: .5;
}

.page-header {
  height: 8rem;
  background-color: rgb(130, 130, 130);
  margin-bottom: 2rem;
}

.whole-nav {
  width: 85%;
  margin: 0 auto;
}

.whole-nav a {
  color: rgb(255, 255, 255);
}

#site-nav {
  vertical-align: middle;
  float: left;
  font-family: 'Abril Fatface', cursive;
  margin: .75rem 0 1rem 0;
}

#other-nav {
  margin: 2.5rem 0;
  float: right;
}

#other-nav a {
  margin: 1rem;
  font-size: 2.25rem;
}

/* -- GENERAL ALERTS -- */
.alert {
    display: block;
    padding: 20px;
    border-left: 5px solid;
}

.alert-success {
    background-color: #D5F5E3;
    border-left-color: #2ECC71;
    color: #2ECC71;
}

.alert-info {
    background-color: #D6EAF8;
    border-left-color: #3498DB;
    color: #3498DB;
}

.alert-warning {
    background-color: #FCF3CF;
    border-left-color: #F1C40F;
    color: #F1C40F;
}

.alert-error {
    background-color: #F2D7D5;
    border-left-color: #C0392B;
    color: #C0392B;
}

/* -- HOMEPAGE.HTML -- */
#homepage-welcome, #homepage-points, #homepage-intro {
  margin: 4rem auto;
  text-align: center;
}


#homepage-points div {
  display: inline-block;
  margin: 3rem;
}

/* -- LOG IN/SIGN-UP -- */
.registration-form {
  margin: 4rem auto;
  width: 50%;
  text-align: center;
}

.registration-form h2 {
  font-weight: bold;
}

.registration-form label, .registration-form input, .registration-form button {
  margin: 1.5rem auto;
  display: block;
}

.helptext {
  opacity: .5;
  display: block;
}

/* -- CHAT -- */
p.deck {
    font-size: 2.5rem;
    font-weight: 200;
}

p.deck a {
    text-decoration: none;
}

.quiet {
    font-size: 90%;
    color: #999;
}
