/* -- GENERAL - BASE.HTML -- */
body {
  font-family: 'Open Sans', sans-serif;
}

.content-container {
  padding: 2rem 0 0 2rem;
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#other-nav a:hover {
  opacity: .5;
}

.page-header {
  height: 8rem;
  background-color: rgb(130, 130, 130);
  margin-bottom: 2rem;
}

.whole-nav {
  width: 85%;
  margin: 0 auto;
}

.whole-nav a {
  color: rgb(255, 255, 255);
}

#site-nav {
  vertical-align: middle;
  float: left;
  font-family: 'Abril Fatface', cursive;
  margin: .75rem 0 1rem 0;
}

#other-nav {
  margin: 2.5rem 0;
  float: right;
}

#other-nav a {
  margin: 1rem;
  font-size: 2.25rem;
}

/* -- GENERAL ALERTS -- */
.alert {
    display: block;
    padding: 20px;
    border-left: 5px solid;
}

.alert-success {
    background-color: #D5F5E3;
    border-left-color: #2ECC71;
    color: #2ECC71;
}

.alert-info {
    background-color: #D6EAF8;
    border-left-color: #3498DB;
    color: #3498DB;
}

.alert-warning {
    background-color: #FCF3CF;
    border-left-color: #F1C40F;
    color: #F1C40F;
}

.alert-error {
    background-color: #F2D7D5;
    border-left-color: #C0392B;
    color: #C0392B;
}

/* -- HOMEPAGE.HTML -- */
#homepage-welcome, #homepage-points, #homepage-intro {
  margin: 4rem auto;
  text-align: center;
}


#homepage-points div {
  display: inline-block;
  margin: 3rem;
}

/* -- LOG IN/SIGN-UP -- */
.registration-form {
  margin: 4rem auto;
  width: 50%;
  text-align: center;
}

.registration-form h2 {
  font-weight: bold;
}

.registration-form label, .registration-form input, .registration-form button {
  margin: 1.5rem auto;
  display: block;
}

.helptext {
  opacity: .5;
  display: block;
}

/* -- UPDATE PROFILE PAGE -- */
#update-profile {
  margin: 4rem auto;
  width: 50%;
  text-align: center;
}

#update-profile p:nth-of-type(4) * {
  display: block;
}

#update-profile input[id="id_pic"] {
  margin: 0 auto;
}

#update-profile input[type="checkbox"], #update-profile label[for="pic-clear_id"] {
  display: none;
}

#update-profile textarea {
  height: 15rem;
  width: auto;
  margin: 0 auto;
}

/* -- PROFILE PAGE --*/
.profile {
  margin: 4rem auto;
  width: 80%;
}

#profile-username, #profile-pic, #profile-actions {
  text-align: center;
  margin: 2rem auto;
}

#profile-username {
  font-size: 4.8rem;
}

#profile-pic img {
  object-fit: cover;
  width: 14rem;
  height: 14rem;
  padding: 1rem;
  border: solid rgba(221, 221, 221, 0) 1px;
  border-radius: 50%;
}

#profile-actions a {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgb(167, 167, 167);
}

#profile-list-details {
  margin: 3rem auto;
}

#profile-list-details a {
  color: rgb(167, 167, 167);
}

#profile-list-details li:not(#keep-bullet)  {
  list-style-type: none;
  margin: 2rem auto;
}

.profile-label {
  font-size: 1.75rem;
}


/* -- CHAT -- */
p.deck {
    font-size: 2.5rem;
    font-weight: 200;
}

p.deck a {
    text-decoration: none;
}

.quiet {
    font-size: 90%;
    color: #999;
}
