<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Pitchy</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pitchy.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'bolt.png' %}">
  </head>
  <body>
    <div class="page-header">
      <div class="whole-nav">
        <h1 id="site-nav"><a href="/">Pitchy</a></h1>
        <nav id="other-nav">
          {% if request.user.is_authenticated %}
            <a href="/connections"><span id="nav-connections"></span></a>
            <a href="/messages"><span id="nav-messages"></span></a>
            <a href="{% url 'update_profile' %}"><span id="nav-profile"></span></a>
            <a href="/logout"><span id="nav-sign-out"></span></a>
          {% else %}
            <a href="/login"><span id="nav-log-in"></span></a>
            <a href="/signup"><span id="nav-sign-up"></span></a>
          {% endif %}
        </nav>
      </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="{% static 'jquery-1.12.2.min.js' %}"></script>

    {% block afterbody %}{% endblock afterbody %}
  </body>
</html>
