{% extends 'base.html' %}

{% block content %}
<article class="profile">
  <h2 id="profile-username">{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>

  <div id="profile-pic">
    {% if profile.pic %}
    <img src="{{ profile.pic.url }}"></img>
    {% endif %}
  </div>

  <div id="profile-actions">
    {% if profile != request.user.profile %}
      {% if boolean %}
        {% if url != None %}
          {% if url == True %}
            <a href="{% url 'new_chat' pk=profile.user.pk %}">Send Message</a>
          {% else %}
            <a href="{% url 'chat' label=url %}">Send Message</a>
          {% endif %}
        {% endif %}
        <a href="{% url 'delete_friend' pk=profile.user.pk %}">Unfriend</a>
      {% else %}
        <a href="{% url 'request_friend' pk=profile.user.pk %}">Request Friend</a>
      {% endif %}
    {% endif %}
  </div>

  <div id="profile-list-details">
    <ul>
      <li>
        <span class="profile-label">Role:</span> {{ role }} @ {{ profile.company }}
      </li>
      <li>
        <span class="profile-label">Bio:</span> {{ profile.bio }}
      </li>
      <li>
        <span class="profile-label">Twitter:</span> <a href="https://twitter.com/{{ profile.social_handle }}">@{{ profile.social_handle }}</a>
      </li>
      <li>
        <span class="profile-label">Focuses:</span>
        <ul>
          {% for item in profile.focuses.all %}
            <li id="keep-bullet">
              {{ item.name }}
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>

</article>
{% endblock content %}
