{% load static %}

<html>
  <head>
    <title>Pitchy</title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/pitchy.css' %}">

    <!-- backbone -->
    <!-- <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone-tastypie.js"></script> -->
  </head>
  <body>
    <div class="page-header">
      <h2 id="site-nav"><a href="/">Pitchy</a></h2>
      <nav id="other-nav">
        {% if request.user.is_authenticated %}
          <a href="/hub">Hub</a>
          <a href="/messages">Messages</a>
          <a href="{% url 'update_profile' %}">Profile</a>
          <a href="/logout">Sign Out</a>
        {% else %}
          <a href="/login">Login</a>
          <a href="/signup">Sign Up</a>
        {% endif %}
      </nav>

    </div>

    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
