{% extends 'base.html' %}

{% block content %}
  <h1>Welcome, {{ user.username }}</h1>
  <h1>This is the connections page.</h1>
  <h3>Your friends:</h3>
  <ul>
    {% for row in friends %}
      <li>
        {% if row.friend != user %}
          {{ row.friend.username }}
        {% elif row.user != user %}
          {{ row.user.username }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <h3>Your friend requests:</h3>
  <ul>
    {% for row in friend_requests %}
      <li>
        {{ row.user.username }}
        <form action="{% url 'confirmation' pk=row.pk %}">
          <input type="submit" value="Accept Request" />
        </form>
      </li>
    {% endfor %}
  </ul>

  <h3>Recommendations</h3>
  <ul>
    {% for person in recommendations %}
      {% if person.id != request.user.profile.id %}
        <li>
          {{ person.user.username }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock content %}
